<div class="product-details"><!--product-details-->
  <div class="col-sm-5">
    <div class="view-product">
      <img id ="display_image" src="{{this.item.defaultImage}}" alt="" />
    </div>
    <div class = "items">
      <img id="subImage"src="{{this.item.defaultImage}}"  style="cursor: pointer;" alt="" width="85" height="84">  
      {{#each this.item.itemImages}}
        
          <img id="subImage"src="{{this.imagePath}}"  style="cursor: pointer;" alt="" width="85" height="84">
        
        {{/each}}
    </div>
    
  </div> 

  <div class="col-sm-7">
    <div class="product-information"><!--/product-information-->
      <img src="/images/product-details/new.jpg" class="newarrival" alt="" />
      <h2>{{this.item.name}}</h2>
      <p>Web ID: {{this.sku}}</p>
      {{#if this.item.itemPrice.length}}
      <span>
        <span>US ${{this.item.itemPrice.0.price}}</span>
        <button type="button" class="btn btn-fefault cart">
          <i class="fa fa-shopping-cart"></i>
          Add to cart
        </button>
      </span>
      <p id="{{this.item.id}}" style="color:#f00!important;">


      </p>
      {{/if}}
      {{#if this.item.isBuyable}}
      <p><b>Availability:</b> In Stock</p>
      {{else}}
      <p><b>Availability:</b> Out Of Stock</p>
      {{/if}}
      <p><b>Condition:</b> New</p>
      <p><b>Category:</b> {{this.categoryName}}</p>
    </div><!--/product-information-->
  </div>
</div><!--/product-details-->
