<div class="row">
    <div class="col-sm-4 col-sm-offset-1 login-form">
        <h2>Reset Password</h2>
        <form action="##">
            <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                    <input type="password" name="newPassword" class="form-control" id="newPassword"
                           placeholder="New Password" required/>
                </div>
                <small class="text-danger"></small>
            </div>

            <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                           placeholder="Confirm Password" required/>
                </div>
                <small class="text-danger"></small>

            </div>

            <div class="form-group ">
                <button type="button" id="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>