<!--component html goes here -->
<div class="container">
    <h4>Shipping Method</h4>
    <p>The details below contains shipping options:</p>
    <div class="radio">
        <label><input type="radio" name="optradio">DHL Economy<b> 9–14 business days</b></label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">DHL Fast Shipping<b> 2–5 business days</b></label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio" >DHL One Day Shipping <b> a business day</b></label>
    </div>
</div>