<angular-loader></angular-loader>
<section>
    <div class="container">
        <div class="row" style="text-align: justify">
		<div class="col-sm-12">

			<div class="left-sidebar">


  <h2>About eShopper</h2>

  <div>
      eShopper, Inc. is a recognized leader in ecommerce industry, with a steadfast commitment to success and a record of achievement that continues a tradition of delivering excellence.

  <p></p>

  The company was founded in 2017 by John Doe with just $3,000 and a good idea – to make ecommerce outsourcing easy and affordable for small retailers. eShopper now has more than 10 employees serving more than a 1000 small- to medium-sized businesses globally.
  <p></p>
  eShopper serves approximately 1100 ecommerce clients as of May 31, 2017 across more than 100 locations. The company offers an ever-growing variety of shopping cart services that help clients do what they do best — run their business. With a wide range of other services – including payroll processing, retirement services, insurance, and a fully outsourced human resource solution – eShopper customizes its offering to the client's business, whether it is small or large, simple or complex.

  </div>





</div>
            </div>

		</div>
        </div>


</section>

<p>&nbsp;</p>
