<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="general-form rounded">
                    <h2>Change password</h2>
                     <div *ngIf="tokenfailure" class="alert alert-danger" role="alert" >
                        {{ responseMessage }}
                    </div> 
                    <div class="alert alert-danger" role="alert" *ngIf="formErrors.password">
                        *{{ formErrors.password }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="formErrors.cPassword">
                        *Password Mismatch.
                    </div>
                    <p>Password must contain 6 characters</p>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <div>
                            <input type="password" formControlName="password" placeholder="Password" />
                        </div>
                        <div>
                            <input type="password" formControlName="cPassword" placeholder="Confirm password" />
                        </div>
                        <button  [disabled]="tokenfailure" type="submit" class="btn btn-primary general-button btn-block">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>