<!--component html goes here -->
<div *ngIf="!successBlock" class="general-form rounded">
    <h2>Reset your password</h2>
    <div class="alert alert-danger" role="alert" *ngIf="formErrors.email">
        *{{ formErrors.email }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{message}}
    </div>
    <p>Enter the email address for your account & we'll email you a link to reset your password.</p>
    <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmitEmail()">

        <div>
            <input type="text" formControlName="email" placeholder="Email" />
        </div>
        <button type="submit" class="btn btn-primary general-button btn-block">Continue</button>
    </form>
</div>
<app-forget-password-success *ngIf="successBlock" [title]='message'></app-forget-password-success>